USE [master]
GO
/****** Object:  Database [BancoDb]    Script Date: 27/8/2024 22:18:16 ******/
CREATE DATABASE [BancoDb]
 
GO
USE [BancoDb]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](100) NULL,
	[APELLIDO] [varchar](100) NULL,
	[DNI] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CUENTA]    Script Date: 27/8/2024 22:18:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUENTA](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CBU] [varchar](100) NULL,
	[SALDO] [decimal](18, 2) NULL,
	[TIPO_CUENTA_ID] [int] NULL,
	[ULTIMO_MOVIMIENTO] [datetime] NULL,
	[CLIENTE_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIPO_CUENTA]    Script Date: 27/8/2024 22:18:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPO_CUENTA](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Cliente] ON 

INSERT [dbo].[Cliente] ([ID], [NOMBRE], [APELLIDO], [DNI]) VALUES (1, N'PEPE', N'PEPITO', N'123456789')
INSERT [dbo].[Cliente] ([ID], [NOMBRE], [APELLIDO], [DNI]) VALUES (2, N'JUAN', N'JUANCITO', N'253545646')
INSERT [dbo].[Cliente] ([ID], [NOMBRE], [APELLIDO], [DNI]) VALUES (3, N'Diego', N'Pineda', N'23332')
SET IDENTITY_INSERT [dbo].[Cliente] OFF
GO
SET IDENTITY_INSERT [dbo].[CUENTA] ON 

INSERT [dbo].[CUENTA] ([ID], [CBU], [SALDO], [TIPO_CUENTA_ID], [ULTIMO_MOVIMIENTO], [CLIENTE_ID]) VALUES (1, N'12344343', CAST(2344.00 AS Decimal(18, 2)), 1, CAST(N'2020-08-27T00:00:00.000' AS DateTime), 3)
INSERT [dbo].[CUENTA] ([ID], [CBU], [SALDO], [TIPO_CUENTA_ID], [ULTIMO_MOVIMIENTO], [CLIENTE_ID]) VALUES (2, N'405817171', CAST(1500.50 AS Decimal(18, 2)), 1, CAST(N'2024-08-27T21:14:09.683' AS DateTime), 1)
INSERT [dbo].[CUENTA] ([ID], [CBU], [SALDO], [TIPO_CUENTA_ID], [ULTIMO_MOVIMIENTO], [CLIENTE_ID]) VALUES (3, N'405817171', CAST(1500.50 AS Decimal(18, 2)), 1, CAST(N'2024-08-27T21:28:41.567' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[CUENTA] OFF
GO
SET IDENTITY_INSERT [dbo].[TIPO_CUENTA] ON 

INSERT [dbo].[TIPO_CUENTA] ([ID], [NOMBRE]) VALUES (1, N'CREDITO')
INSERT [dbo].[TIPO_CUENTA] ([ID], [NOMBRE]) VALUES (2, N'DEBITO')
INSERT [dbo].[TIPO_CUENTA] ([ID], [NOMBRE]) VALUES (3, N'CHEQUES')
SET IDENTITY_INSERT [dbo].[TIPO_CUENTA] OFF
GO
ALTER TABLE [dbo].[CUENTA]  WITH CHECK ADD FOREIGN KEY([CLIENTE_ID])
REFERENCES [dbo].[Cliente] ([ID])
GO
ALTER TABLE [dbo].[CUENTA]  WITH CHECK ADD FOREIGN KEY([TIPO_CUENTA_ID])
REFERENCES [dbo].[TIPO_CUENTA] ([ID])
GO
/****** Object:  StoredProcedure [dbo].[ACTUALIZAR_CUENTA]    Script Date: 27/8/2024 22:18:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ACTUALIZAR_CUENTA]
@ID INT,
@CBU VARCHAR(100),
@SALDO DECIMAL(18,2),
@ULTIMO_MOVIMIENTO DATETIME,
@TIPO_CUENTA_ID INT
AS
BEGIN
UPDATE CUENTA SET CBU = @CBU , 
ULTIMO_MOVIMIENTO = @ULTIMO_MOVIMIENTO,
TIPO_CUENTA_ID  = @TIPO_CUENTA_ID
WHERE ID = @ID
END;
GO
/****** Object:  StoredProcedure [dbo].[CREAR_CLIENTE]    Script Date: 27/8/2024 22:18:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE CREAR_CLIENTE
@NOMBRE VARCHAR(100),
@APELLIDO VARCHAR(100),
@DNI VARCHAR(100),
@ID_CLIENTE INT OUTPUT
AS
BEGIN
INSERT INTO  CLIENTE(NOMBRE,APELLIDO,
DNI)
VALUES(@NOMBRE,@APELLIDO,
@DNI)
SET @ID_CLIENTE = SCOPE_IDENTITY();
END
GO
/****** Object:  StoredProcedure [dbo].[CREAR_CUENTA]    Script Date: 27/8/2024 22:18:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[CREAR_CUENTA]
@CBU VARCHAR(100),@SALDO DECIMAL(18,2),
@TIPO_CUENTA_ID INT,
@ULTIMO_MOVIMIENTO DATETIME,
@CLIENTE_ID INT,
@ID INT OUTPUT
AS
BEGIN
INSERT INTO  CUENTA(CBU,SALDO,
TIPO_CUENTA_ID,ULTIMO_MOVIMIENTO,CLIENTE_ID)
VALUES(@CBU,@SALDO,
@TIPO_CUENTA_ID,@ULTIMO_MOVIMIENTO,@CLIENTE_ID)

SET @ID = SCOPE_IDENTITY()
END

GO
/****** Object:  StoredProcedure [dbo].[OBTENER_CLIENTES]    Script Date: 27/8/2024 22:18:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[OBTENER_CLIENTES]
AS
BEGIN
SELECT
ID,NOMBRE,APELLIDO,DNI
FROM CLIENTE
END
GO
/****** Object:  StoredProcedure [dbo].[OBTENER_CUENTAS]    Script Date: 27/8/2024 22:18:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[OBTENER_CUENTAS]
AS
BEGIN
SELECT
CU.ID,CBU,SALDO,TP.NOMBRE AS NOMBRE_CUENTA , TP.ID AS TIPO_CUENTA_ID , ULTIMO_MOVIMIENTO , CLIENTE_ID
FROM CUENTA CU
JOIN TIPO_CUENTA TP ON TP.ID = CU.TIPO_CUENTA_ID
END
GO
/****** Object:  StoredProcedure [dbo].[OBTENER_TIPOS_CUENTAS]    Script Date: 27/8/2024 22:18:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[OBTENER_TIPOS_CUENTAS]
AS
BEGIN
SELECT
ID,NOMBRE
FROM TIPO_CUENTA
END
GO
USE [master]
GO
select * from Cliente

select * from CUENTA


create procedure SP_OBTENER_CUENTAS_POR_CLIENTE
@ID INT
AS
BEGIN
SELECT
CU.ID,CBU,SALDO,TP.NOMBRE AS NOMBRE_CUENTA , TP.ID AS TIPO_CUENTA_ID , ULTIMO_MOVIMIENTO , CLIENTE_ID
FROM CUENTA CU
JOIN TIPO_CUENTA TP ON TP.ID = CU.TIPO_CUENTA_ID
WHERE CU.CLIENTE_ID = @ID
END